[submodule "backends/Ecom-CMS"]
	path = backends/Ecom-CMS
	url = git@github.com:LoaLoa-Tech/Ecom-CMS.git
[submodule "backends/ecom-admin"]
	path = backends/ecom-admin
	url = git@github.com:LoaLoa-Tech/ecom-admin.git
[submodule "backends/ezapi"]
	path = backends/ezapi
	url = git@github.com:LoaLoa-Tech/ezapi.git
[submodule "frontends/Ecom-UI-Standard"]
	path = frontends/Ecom-UI-Standard
	url = git@github.com:LoaLoa-Tech/Ecom-UI-Standard.git
[submodule "database"]
	path = database
	url = git@github.com:LoaLoa-Tech/database.git
[submodule "ecom-static"]
	path = ecom-static
	url = git@github.com:LoaLoa-Tech/ecom-static.git
[submodule "ecom-nginx"]
	path = ecom-nginx
	url = git@github.com:LoaLoa-Tech/ecom-nginx.git
[submodule "home"]
	path = home
	url = git@github.com:LoaLoa-Tech/home.git
